.imgSlider > .hOQiSy {
  width: 100% !important;
}

.imgSlider > article {
  width:100% !important
}
.imgSlider > svg {
  color: #fff !important;
}

.imgSlider > article > .epKbGN >
.hCJOJS {
  line-height: 0 !important;
  background: #8e8e8e91 !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(6px) !important;
  -webkit-backdrop-filter: blur(6px) !important;
}

.hCJOJS > svg {
  color: #fff !important;
}

.epKbGN {
  top: 50% !important;
}

.imgSlide {
  height: -webkit-fill-available;
}

.imgSlide:before{
  background: rgba(0, 0, 0, .5);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
